<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <!-- Секция аппендеров -->
    <Appenders>
        <!-- Файловый аппендер -->
        <File name="errors" fileName="logs/errors.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
        </File>
        <!-- Файловый аппендер -->
        <File name="finances" fileName="logs/finances.log">
            <!-- Фильтр по маркеру -->
            <MarkerFilter marker="FINANCE" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <!-- Файловый аппендер -->
        <File name="statistic" fileName="logs/statistics.log">
            <!-- Фильтр по маркеру -->
            <MarkerFilter marker="STATISTICS" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <!-- Файловый аппендер -->
        <File name="averages" fileName="logs/averages.csv">
            <!-- Фильтр по маркеру -->
            <MarkerFilter marker="AVERAGES" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
    </Appenders>
    <!-- Секция логгеров -->
    <Loggers>
        <!-- Корневой логгер -->
        <Root level="trace">
            <AppenderRef ref="errors" level="DEBUG"/>
            <AppenderRef ref="finances" level="TRACE"/>
            <AppenderRef ref="statistic" level="TRACE"/>
            <AppenderRef ref="averages" level="TRACE"/>
        </Root>
    </Loggers>
</Configuration>