<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <!-- Секция аппендеров -->
    <Appenders>
        <!-- Файловый аппендер -->
        <File name="errors" fileName="errors.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
        </File>
        <!-- Файловый аппендер -->
        <File name="finances" fileName="finances.log">
            <!-- Фильтр по маркеру -->
            <MarkerFilter marker="FINANCE" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <!-- Файловый аппендер -->
        <File name="statistic" fileName="statistics.log">
            <!-- Фильтр по маркеру -->
            <MarkerFilter marker="STATISTICS" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
    </Appenders>
    <!-- Секция логгеров -->
    <Loggers>
        <!-- Корневой логгер -->
        <Root level="trace">
            <AppenderRef ref="errors" level="DEBUG"/>
        </Root>
        <!-- Логгер нашего класса -->
        <Logger name="com.dremanovich.leadingbot.bot.strategies.SimpleLendingStrategy" level="trace" additivity="true">
            <AppenderRef ref="finances" level="TRACE"/>
            <AppenderRef ref="statistic" level="TRACE"/>
        </Logger>
    </Loggers>
</Configuration>